html {
  font-size: 10px;
  background-color: rgba(0, 15, 34, 1);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 8px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #9393949a;
  border-radius: 16px;
  /* border: 4px solid #fff; */
}
